<footer>
    <div class="container-footer">
        <div class="footer-info">
            <div class="footer-col-menu">
                <h3 class="h3">Institucional</h3>
                <ul class="footer-menu">
                    <li class="footer-menu-item" style="list-style-type:none;">
                        <a class="footer-menu-link" href="#">
                            Sobre Todo Pal Costado
                        </a>
                    </li>
                    <li class="footer-menu-item" style="list-style-type:none;">
                        <a class="footer-menu-link" href="#">
                            Condiciones de Envío
                        </a>
                    </li>
                    <li class="footer-menu-item" style="list-style-type:none;">
                        <a class="footer-menu-link" href="#">
                            Términos y Condiciones
                        </a>
                    </li>
                    
                    <li class="footer-menu-item" style="list-style-type:none;">
                            <a class="footer-menu-link" href="#">
                                Ventajas Todo Pal Costado
                            </a>
                    </li>
                    <li class="footer-menu-item" style="list-style-type:none;">
                        <a class="footer-menu-link" href="#">
                            Ventas Corporativas
                        </a>
                    </li>


                </ul>
            </div>
            <div class="footer-col-menu">
                <h3 class="h3"> Ayuda</h3>
                <ul class="footer-menu">
                    <li class="footer-menu-item" style="list-style-type:none;">
                        <a class="footer-menu-link" href="#">Cómo comprar</a>
                    </li>
                    <li class="footer-menu-item" style="list-style-type:none;">
                        <a class="footer-menu-link" href="#">Medios de Pago</a>
                    </li>
                    <li class="footer-menu-item" style="list-style-type:none;">
                        <a class="footer-menu-link" href="#"> Política de cambios</a>
                    </li>                        
                </ul>
            </div>
            <div class="footer-col-menu">
                <h3 class="h3">Contactanos</h3>
                <ul class="footer-menu">
                    <li class="footer-menu-item" style="list-style-type:none;">
                         <!-- icono -->
                        <a class="footer-menu-link" href="#">
                             contacto@contacto.com.ar
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer-col-menu">
                <h3 class="h3">Seguinos</h3>
                    <li class="footer-menu-item" style="list-style-type:none">                            
                        <a class="footer-menu-link" href="#">
                            facebook
                        </a>
                        <a class="footer-menu-link" href="#">
                            instagram
                        </a>
                    </li>
            </div>
        </div>
    </div>
    <div class="footer-medio-de-pago">
        <div class="footer-pagar">
            <div class="footer-col-medio-de-pago">
                <h3 class="h3-footer">Medios de Pago</h3>
            </div>
        </div>
    </div>    
        
    <div class="copyright">
        <div class="footer-menu-copyrigth">
            <h4 class="h4-footer">
                Copyright Dietética Todo Pal Costado - 2020. Todos los derechos reservados.
            </h4>
        </div>
        <div class="grupo2">
            <h4 class="h4-footer">Grupo 2</h4>
        </div>
    </div>              
</footer>