<header>

    <!-- Header Mobile -->
        <div class="menu_bar">
            <a href="#"><span class="fas fa-bars"></a>
        </div>

        <nav class="nav_menu_mobile">
            <ul class="nav_ul">
                <li class="nav_li">
                    <i class="fas fa-home nav_icon"><a href="/" class="nav_a">Home</a></i>
                    
                </li>
                <li class="nav_li">
                    <a href="/products" class="nav_a">Todos Nuestros Alimentos</a>
                </li>
                <li class="nav_li">
                    <a href="/frutos-secos" class="nav_a">Frutos Secos</a>
                </li>
                <li class="nav_li">
                    <a href="/frutas-desecadas" class="nav_a">Frutas Desecados</a>
                </li>
                <li class="nav_li">
                    <a href="/hamburguesas" class="nav_a">Hamburguesas</a>
                </li>
                <% if(typeof user  != 'undefined' && admin == 1){ %>
                    <li class="nav_li">
                        <i class="fas fa-plus nav_icon"><a href="/products/create/admin" class="nav_a">agregar producto</a></i>
                    
                    </li>
                    <li class="nav_li">
                        <i class="fas fa-user-circle nav_icon"><a href="/users/perfil" class="nav_a">Perfil</a></i>
                    
                    </li>
                    <li class="nav_li">
                        <i class="fas fa-sign-out-alt nav_icon"><a href="/users/log-out" class="nav_a">Salir</a></i>
                    
                    </li>
                <% } else if (typeof user != 'undefined' && admin == 0) { %>
                    <li class="nav_li">
                        <i class="fas fa-shopping-cart nav_icon"><a href="/cart" class="nav_a">Carrito</a></i>
                        
                    </li>
                    <li class="nav_li">
                        <i class="fas fa-user-circle nav_icon"><a href="/users/perfil" class="nav_a">Perfil</a></i>
                        
                    </li>
                    <li class="nav_li">
                        <i class="fas fa-sign-out-alt nav_icon"><a href="/users/log-out" class="nav_a">Salir</a></i>
                        
                    </li>
                <% } else { %>
                    <li class="nav_li">
                        <i class="fas fa-user-circle nav_icon"><a href="/users/login" class="nav_a">Login/Registro</a></i>
                        
                    </li>
                <% } %>
            </ul>
        </nav>
        <div class="flex-logo-mobile">
            <a href="/" class="logo-completo"><img src="https://github.com/joaquinvilag/e-commerceDH/blob/master/Logos%20e%20imagen/Logo%20completo.png?raw=true" alt="logo-completo" class="logo-mobile"></a>
        </div>



    <!-- Header Desktop -->
    <nav class="nav_menu_desktop">
        <div class="flex-items">
            <a href="/" class="logo-completo"><img src="https://github.com/joaquinvilag/e-commerceDH/blob/master/Logos%20e%20imagen/Logo%20completo.png?raw=true" alt="logo-completo" class="logo-desktop"></a>
        </div>
        <div class="flex-items">
            <div class="column-search ">
                <div class="search-box">
                    <input class="search-txt" type="text" name="" placeholder="¿Que estas buscando?">
                    <a class="search-btn" href="#">
                        <i class="fas fa-search"></i>
                    </a>
                </div>
            </div>
        </div>
        <% if(typeof user  != 'undefined' && admin == 1){ %>
        <div class="flex_container_login">
            <div class="flex_items_login">
            
                <a href="/users/perfil" class="font_log">
                    <i class="fas fa-user-circle icon_login"></i>
                    <br>
                    <p class="log_menu_p"><%=user.name%></p>
                </a>
            </div>
        
            <div class="flex_items_login">
                <a href="/products/create/admin" class="font_log">
                    <i class="fas fa-plus icon_login"></i>
                    <br>    
                    <p class="log_menu_p">Agregar</p> 
                </a>
            </div>
            <div class="flex_items_login">
                <a href="/users/log-out" class="font_log">
                    <i class="fas fa-sign-out-alt icon_login"></i>
                    <br>    
                    <p class="log_menu_p">Salir</p> 
                </a>
            </div>
        </div>
        <% } else if (typeof user != 'undefined' && admin == 0) { %>
        <div class="flex_container_login with_logout">
            <div class="flex_items_login">           
                <a href="/users/perfil" class="font_log desplegar">
                    <i class="fas fa-user-circle icon_login"></i>
                    <br>
                    <p class="log_menu_p"><%= user.name %></p>
                </a>
            </div>
            <div class="flex_items_login">
                <a href="/cart" class="font_log">
                    <i class="fas fa-shopping-cart icon_login"></i>
                    <br>    
                    <p class="log_menu_p">Carrito</p> 
                </a>
            </div>
            <div class="flex_items_login">
                <a href="/users/log-out" class="font_log">
                    <i class="fas fa-sign-out-alt icon_login"></i>
                    <br>    
                    <p class="log_menu_p">Salir</p> 
                </a>
            </div>
        </div>
        <% } else { %>
            <div class="flex_container_login">
                <div class="flex_items_login">           
                    <a href="/users/login" class="font_log">
                        <i class="fas fa-user-circle icon_login"></i>
                        <br>
                        <p class="log_menu_p">Login</p>
                    </a>
                </div>
                <div class="flex_items_login">
                    <a href="/cart" class="font_log">
                        <i class="fas fa-shopping-cart icon_login"></i>
                        <br>    
                        <p class="log_menu_p">Carrito</p> 
                    </a>
                </div>
            </div>
        <% } %>

    </nav>
    <nav class="nav_menu_options">
        <div class="flex-items">
            <ul class="menu_ul">
                <li class="menu_li">
                    <a href="/frutos-secos" class="a_menu_li">
                        Frutos Secos       
                    </a>
                    
                </li>
                <li class="menu_li">
                    <a href="/frutas-desecadas" class="a_menu_li">
                        Frutas Desecadas    
                    </a>
                    
                </li>
                <li class="menu_li">
                    <a href="/hamburguesas" class="a_menu_li">
                        Hamburguesas         
                    </a>
                </li>

            </ul>
        </div>
    </nav>
</header>

 


