<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users-All</title>
</head>
<body>
    <h1>Listado de usuarios</h1>
    <ul>
        <% for ( var i = 0; i < users.length; i++) { %>
        <li>
            <a href="/users/alluser/<%=users[i].iduser%>">
            <%= users[i].name%>
            </a>
        </li>
        <%}%>
    </ul>
    
</body>
</html>
