<!DOCTYPE html>
<html>

    <head>
      <%- include('partials/head') %>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <script src="https://kit.fontawesome.com/a076d05399.js"></script>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
      <link rel="stylesheet" href="/stylesheets/home.css">
      <title>plantilla de producto - Dietetica</title>
    </head> 
    <body>
        <%- include('partials/header.ejs') %>
        <main>
          <h1>Todo Pal Costado</h1>
          <p>Dietetica de primera calidad</p>
        </main> 

 

        <section>
          
          <article class="product">
                <img class="productPh" src="/img/Frutas Desecadas/ciruelasdesecadas.jpg" alt="ciruelas desecadas">
                <div class="sliderDots">
                    <a href="#" class="sliderDot"></a>
                    <a href="#" class="sliderDot"></a>
                    <a href="#" class="sliderDot"></a>
                    <a href="#" class="sliderDot"></a>
                </div>
                <!--<div class="miniPh">
                  <div>
                      <img class="mini" src="../Desarrollo/public/img/Frutos Desecados/pasasdeuva.jpg" alt="">
                  </div>
                  <div>
                      <img class="mini" src="../Desarrollo/public/img/Frutos Desecados/tomatesecos.jpg" alt="">
                  </div>
                  
                </div>-->
                <div class="desc">
                    <h1 class="productTitle">Ciruelas Desecadas</h1>
                    <p class="price">$500</p>
                    <p class="format">por Kilogramo</p>
                    <p class="description"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum aliquid sunt excepturi sint at deserunt commodi quos recusandae exercitationem assumenda, ipsa, fugit voluptate facilis repudiandae laudantium nisi iure nobis quisquam.</p>
    
                </div>
                <button type="button" class="btn btn-outline-success">Agregar al carrito</button>
                <button type="button" class="btn btn-info">Más información</button>
          </article>
          
          <article class="product">
            <img class="productPh" src="/img/Frutas Desecadas/ciruelasdesecadas.jpg" alt="ciruelas desecadas">
            <div class="sliderDots">
                <a href="#" class="sliderDot"></a>
                <a href="#" class="sliderDot"></a>
                <a href="#" class="sliderDot"></a>
                <a href="#" class="sliderDot"></a>
            </div>
            <!--<div class="miniPh">
              <div>
                  <img class="mini" src="../Desarrollo/public/img/Frutos Desecados/pasasdeuva.jpg" alt="">
              </div>
              <div>
                  <img class="mini" src="../Desarrollo/public/img/Frutos Desecados/tomatesecos.jpg" alt="">
              </div>
              
            </div>-->
            <div class="desc">
                <h1 class="productTitle">Ciruelas Desecadas</h1>
                <p class="price">$500</p>
                <p class="format">por Kilogramo</p>
                <p class="description"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum aliquid sunt excepturi sint at deserunt commodi quos recusandae exercitationem assumenda, ipsa, fugit voluptate facilis repudiandae laudantium nisi iure nobis quisquam.</p>

            </div>
            <button type="button" class="btn btn-outline-success">Agregar al carrito</button>
            <button type="button" class="btn btn-info">Más información</button>
          </article>
          
          <article class="product">
            <img class="productPh" src="/img/Frutas Desecadas/ciruelasdesecadas.jpg" alt="ciruelas desecadas">
            <div class="sliderDots">
                <a href="#" class="sliderDot"></a>
                <a href="#" class="sliderDot"></a>
                <a href="#" class="sliderDot"></a>
                <a href="#" class="sliderDot"></a>
            </div>
            <!--<div class="miniPh">
              <div>
                  <img class="mini" src="../Desarrollo/public/img/Frutos Desecados/pasasdeuva.jpg" alt="">
              </div>
              <div>
                  <img class="mini" src="../Desarrollo/public/img/Frutos Desecados/tomatesecos.jpg" alt="">
              </div>
              
            </div>-->
            <div class="desc">
                <h1 class="productTitle">Ciruelas Desecadas</h1>
                <p class="price">$500</p>
                <p class="format">por Kilogramo</p>
                <p class="description"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum aliquid sunt excepturi sint at deserunt commodi quos recusandae exercitationem assumenda, ipsa, fugit voluptate facilis repudiandae laudantium nisi iure nobis quisquam.</p>

            </div>
            <button type="button" class="btn btn-outline-success">Agregar al carrito</button>
            <button type="button" class="btn btn-info">Más información</button>
          </article>
          
          <article class="product">
            <img class="productPh" src="/img/Frutas Desecadas/ciruelasdesecadas.jpg" alt="ciruelas desecadas">
            <div class="sliderDots">
                <a href="#" class="sliderDot"></a>
                <a href="#" class="sliderDot"></a>
                <a href="#" class="sliderDot"></a>
                <a href="#" class="sliderDot"></a>
            </div>
            <!--<div class="miniPh">
              <div>
                  <img class="mini" src="../Desarrollo/public/img/Frutos Desecados/pasasdeuva.jpg" alt="">
              </div>
              <div>
                  <img class="mini" src="../Desarrollo/public/img/Frutos Desecados/tomatesecos.jpg" alt="">
              </div>
              
            </div>-->
            <div class="desc">
                <h1 class="productTitle">Ciruelas Desecadas</h1>
                <p class="price">$500</p>
                <p class="format">por Kilogramo</p>
                <p class="description"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum aliquid sunt excepturi sint at deserunt commodi quos recusandae exercitationem assumenda, ipsa, fugit voluptate facilis repudiandae laudantium nisi iure nobis quisquam.</p>

            </div>
            <button type="button" class="btn btn-outline-success">Agregar al carrito</button>
            <button type="button" class="btn btn-info">Más información</button>
          </article>
          
      
            
      </section>
      <section class="categoria-img-left">
        <div class="cat-img">
          <img src="/img/Frutas Desecadas/tomatesecos.jpg" alt="frutas desecadas">
        </div>
        <div class="title-cat">
          <h3>Frutas Desecadas</h3>
          <button type="button" class="btn btn-info">Más información</button>
        </div>

      </section>
      <section class="video-home">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/KdXNZx4C09o?start=100" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </section>



    
    <%- include('partials/bootstrap-jq-poppers') %>
  </body>

</html>
