<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <title>Todo Pal Costado - Dietetica</title>
</head>
<body>
        <!-- Partials Header -->
    <%- include('partials/header.ejs') %>
        <!-- ===============   -->
    <h1>Todo Pal Costado</h1>
    <p>Dietetica de primera calidad</p>
    
    
    
    
    
    
    
    
    <%- include('partials/bootstrap-jq-poppers') %>
    
</body>
</html>