<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css-carrito2.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/carrito.css">
    
    <script src="https://kit.fontawesome.com/5c6145b7dd.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="main-container">
        <div class="header">
             <section class="header-hijo1">
                 <p class="h-art1"> Carrito </p>
                 <p class="h-art2"> Ahorre dinero</p>
             </section>
             <section class="header-hijo2">
                 <i class="fas fa-shopping-cart"></i><span class="h-precio">item+precio</span>
             </section>
            
        </div>        
        <div class="body">
            <h2 class="b-title">Tu carrito de compras</h1>
            <section class="b-inventario">
                <p class="img">Detalle</p>
                <p class="product">Producto</p>
                <p class="quantity">Cantidad</p>
                
                <p class="unite-price">Precio Unitario</p>
                <p class="price">Precio</p>
            </section>
            <section class="b-precio">
                    <h3 class="b-h3">Total</h3>
                    <p class="b-total-var">precio%total</p>          
            </section>
        </div>
        <div class="footer">
            <h5 class="b-h5">Usar cupón</h4>
            <div class="f-cupon">
                <p class="p-cupon">Cupón:</p>
                <input type="text" class="input-cupon">
                <input type="submit" value="Aplicar" class="btn-enviar" required>
            </div>
            <section class="f-end">
                <input type="submit" value="Continuar comprando" class="btn-continue">
                <input type="submit" value="Pagar" class="btn-checkout">


            </section>
        </div>
    </div>
    
</body>
</html>