<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <!-- <link rel="stylesheet" href="css-carrito2.css"> -->
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/carrito.css">
    <title>Carrito de compras</title>
    <!-- <script src="https://kit.fontawesome.com/5c6145b7dd.js" crossorigin="anonymous"></script> -->
</head>
<body>
    <!-- ====== Header====== -->
    <%- include('../partials/header.ejs') %>
    <!-- =================== -->
    <div class="main-container">
        <div>
            <div class="container">
                <div class="heading">
                  <h1>
                    <span class="shopper">Tu carrito de compras</span> 
                  </h1>
                </div>
                
                <div class="cart transition is-open">
                  
                  <a href="#" class="btn btn-update">Pagar</a>
                  
                  
                  <div class="table">
                    
                    <div class="layout-inline row th">
                      <div class="col col-pro">Product</div>
                      <div class="col col-price align-center "> 
                        Price
                      </div>
                      <div class="col col-qty align-center">QTY</div>
                      <div class="col">VAT</div>
                      <div class="col">Total</div>
                    </div>
                    
                    <div class="layout-inline row">
                      
                      <div class="col col-pro layout-inline">
                        <img src="http://static.ddmcdn.com/gif/10-kitten-cuteness-1.jpg" alt="kitten" />
                        <p>Happy Little Critter</p>
                      </div>
                      
                      <div class="col col-price col-numeric align-center ">
                        <p>£59.99</p>
                      </div>
              
                      <div class="col col-qty layout-inline">
                        <a href="#" class="qty qty-minus">-</a>
                          <input type="numeric" value="3" />
                        <a href="#" class="qty qty-plus">+</a>
                      </div>
                      
                      <div class="col col-vat col-numeric">
                        <p>£2.95</p>
                      </div>
                      <div class="col col-total col-numeric">               <p> £182.95</p>
                      </div>
                    </div>
                    
                    <div class="layout-inline row row-bg2">
              
                      <div class="col col-pro layout-inline">
                        <img src="http://lovemeow.com/wp-content/uploads/2012/05/kitten81.jpg" alt="kitten" />
                        <p>Scared Little Kittie</p>
                      </div>
                      
                      <div class="col col-price col-numeric align-center ">
                        <p>£23.99</p>
                      </div>
              
                      <div class="col col-qty  layout-inline">
                        <a href="#" class="qty qty-minus ">-</a>
                          <input type="numeric" value="1" />
                        <a href="#" class="qty qty-plus">+</a>
                      </div>
                      
                      <div class="col col-vat col-numeric">
                        <p>£1.95</p>
                      </div>
                      <div class="col col-total col-numeric">
                        <p>£25.94</p>
                      </div>      
                    
                    </div>
                    
                     <div class="layout-inline row">
                      
                      <div class="col col-pro layout-inline">
                        <img src="http://cdn.cutestpaw.com/wp-content/uploads/2012/04/l-my-first-kitten.jpg" alt="kitten" />
                        <p>Curious Little Begger</p>
                      </div>
                      
                      <div class="col col-price col-numeric align-center ">
                        <p>£59.99</p>
                      </div>
              
                      <div class="col col-qty layout-inline">
                        <a href="#" class="qty qty-minus">-</a>
                          <input type="numeric" value="3" />
                        <a href="#" class="qty qty-plus">+</a>
                      </div>
                      
                      <div class="col col-vat col-numeric">
                        <p>£2.95</p>          
                      </div>
                       <div class="col col-total col-numeric">  
                         <p>£182.95</p>
                       </div>         
                    </div>
                
                     <div class="tf">
                       <div class="row layout-inline">
                         <div class="col">
                           <p>VAT</p>
                         </div>
                         <div class="col"></div>
                       </div>
                       <div class="row layout-inline">
                         <div class="col">
                           <p>Shipping</p>
                         </div>
                         <div class="col"></div>
                       </div>
                        <div class="row layout-inline">
                         <div class="col">
                           <p>Total</p>
                         </div>
                         <div class="col"></div>
                       </div>
                     </div>         
                </div>
                  
                  <a href="#" class="btn btn-update">Pagar</a>
                
              </div>
        </div>

        <!-- <div class="footer">
            <h5 class="b-h5">Usar cupón</h4>
            <div class="f-cupon">
                <p class="p-cupon">Cupón:</p>
                <input type="text" class="input-cupon">
                <input type="submit" value="Aplicar" class="btn-enviar" required>
            </div>
            <section class="f-end">
                <input type="submit" value="Continuar comprando" class="btn-continue">
                <input type="submit" value="Pagar" class="btn-checkout">


            </section>
        </div> -->
    </div>

    <!--====== Footer =======-->
    <%- include('../partials/footer') %>
    <!--===== End Footer =======-->

    <%- include('../partials/bootstrap-jq-poppers') %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/javascripts/cart-event.js"></script>
    
</body>
</html>