<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <!-- <link rel="stylesheet" href="css-carrito2.css"> -->
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/msj.css">
    <title>Compra finalizada!</title>
    <!-- <script src="https://kit.fontawesome.com/5c6145b7dd.js" crossorigin="anonymous"></script> -->
</head>
<body>
    <!-- ====== Header====== -->
    <%- include('../partials/header.ejs') %>
    <!-- =================== -->
    <div class="div_msj">
        <h1 class="h1_msj">
            !Tu compra se ha concretado exitosamente, gracias por confiar en nosotros!
        </h1>
    </div>





    <!--====== Footer =======-->
    <%- include('../partials/footer') %>
    <!--===== End Footer =======-->

    <%- include('../partials/bootstrap-jq-poppers') %>
</body>