html {
    background: #bbc3c6;
    
  }
  
  * {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    
  }
  
  form{
    font: 62.5%/1.5em "Trebuchet Ms", helvetica;
  }
  .shopper {
    text-transform: lowercase;
    font: 2em 'Shopper', sans-serif;
    line-height: 0.5em;
    display: inline-block;
    color: var(--brown);
  }
  
  
  
  h1{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.5em;
    color: var(--brown);
  }
  
  .date {
    font-size: 1.5em;
    color: #8a8a8a;
    
  }
  
  input {
    
    padding: 0.5em 0.3em; 
    font-size: 1.4em;
    text-align: center;
  }
  
  .img-product {
    max-width: 6em;
    width: 100%;
    overflow: hidden; 
    margin-left: 1em;
    margin-right: 1em;
  }
  
  a {
    text-decoration: none;
  }
  
  .container-cart {
    max-width: 100em;
    width: 95%;
    margin: 40px auto;  
    overflow: hidden;
    position: relative;
    
    border-radius: 0.6em;
    background: #ecf0f1;
    box-shadow: 0 0.5em 0 rgba(138, 148, 152, 0.2);
  }
  
  .heading {
    padding: 1em;
    position: relative;
    z-index: 1;
    color: #f7f7f7;
    background: rgb(243, 243, 243);
  }
  
  .cart2 {
    overflow: hidden;
    
  }
  
  .cart.is-closed {
    height: 0;
    margin-top: -2.5em;
  }
  
  .table {
    background: #ffffff;
    border-radius: 0.6em;
    overflow: hidden;
    clear: both;
    margin-bottom: 1.8em;
  }
  
  
  .layout-inline > * {
    display: inline-block;
  }
  
  .align-center {
    text-align: center;
  }
  
  .th {
    background: rgb(77, 235, 190);
    color: var(--brown);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5em;
    padding-left: 3em;
  }
  
  .tf {
    background: rgb(77, 235, 190);
    text-transform: uppercase;
    text-align: right;
    font-size: 1.5em;  
    padding-left: 500px;
  }
  
  .tf p {
    color: var(--brown);
    font-weight: bold;
  }
  
  .col {
    padding: 1em;
    width: 12%;
  }
  .nav-price{
    left: 40px;
  }
  .nav-qty{
    right: 46px;
  }
  
  .col-pro {
    width: 44%;
  }
  
  .col-pro > * {
    vertical-align: middle;
  }
  
  .col-qty {
    text-align: center;
    width: 17%;
  }
  div.price{
    margin-left: 40px;
  }
  .fa-times-circle{
    margin-right: 20px;
    font-size: 24px;
    color: var(--brown);
    transition: 0.5s;
    padding-top: 16px;
  }
  .fa-times-circle:hover{
    color: rgb(252, 217, 158);
  }

  .col-numeric p {
    font: bold 1.8em helvetica;
  }
  
  .col-total p {
    display: flex;
    justify-content: center;
    color: #12c8b1;
  }
  
  .col-qty > * {
    vertical-align: middle;
    margin-left: 20px; 
  }
  
  .col-qty > input {
    max-width: 2.6em;
  }
  
  
  a.qty {
    width: 1em;
    line-height: 1em;
    border-radius: 2em;
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    background: var(--brown);
    color: #fff;
  }
  
  a.qty:hover {
    background: rgb(252, 217, 158);
  }
  
  .btn {
    padding: 10px 30px;
    border-radius: 0.3em;
    font-size: 1.4em;
    font-weight: bold;
    background: var(--brown);;
    color: #fff;
    transition: 0.5s;
  }
  
  .btn:hover {
    background-color: #cb997e;
    color: #fff;
  }
  
  .btn-update {
    float: right;
    margin: 0 0 1.5em 0;
  }
  
  .transition {
    transition: all 0.3s ease-in-out;
  }
  
  @media screen and ( max-width: 853px) {
    .container {
      width: 98%;
    }
    .nav-pro{
      right: 30px;
    }
    .nav-price{
      left: 10px;
    }
    .nav-qty{
      right: 46px;
    }
    .nav-total{
      right:  34px;
    }
    
    .col-pro {
      width: 44%;
    }
    
    .col-pro {
      width: 35%;
    }
    
    .col-qty {
      width: 22%;
    }
    
    img {
      max-width: 100%;
      margin-bottom: 1em;
    }
    .qty{
      display: none;
    }
    .tf{
      padding-left: 120px;
    }
  }
  
  @media screen and ( max-width: 591px) {
    .tf{
      padding-left: 20px;
    }
    .nav-pro{
      right: 40px;
    }
    .nav-price{
      left: -26px;
    }
    .nav-qty{
      right: 46px;
    }
    .nav-total{
      right: 76px;
    }
  }