h1, h2, h3, h4 {
    font-family: '/font/OpenSans-Regular'
}

h1.title-banner {
    display: block;
}

h6.subtitle-banner {
    display: inline;
}

h2.subtitle {
    text-align: center;
    border-bottom: #9EFFF2 solid 1px;
}

p {
    font-family: 'Lato', sans-serif;
}
h1 a {
    font-family: '/font/OpenSans-Regular';
    color: rgb(109, 109, 109);
    text-decoration: none;
}

h1 a:hover {
    font-family: '/font/OpenSans-Regular';
    color: rgb(109, 109, 109);
    text-decoration: none;
}

section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

main {
    padding-left: 10%;
    padding-top: 10%;
    padding-bottom: 10%;
}

main::after {
    content: "";
    background-image: url(/img/banner/Nueces.jpg); 
    background-size: cover;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }

article.product:hover {
    -webkit-box-shadow: 3px 3px 15px 5px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: 3px 3px 15px 5px rgba(0, 0, 0, 0.58);
    box-shadow: 3px 3px 15px 5px rgba(0, 0, 0, 0.58);
}

article.product {
    margin: 100px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background: #F2EDCB;
    border: 0px solid grey;
    border-radius: 10px;
    margin: 2%;
    padding: 1%;
    width: 300px;
}        

article img {
    width: 100%;
    border-radius: 2px;
}

div.sliderDots {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

a.sliderDot {
    background-color: lightgray;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin: 11px;
}

a.sliderDot:hover {
    background-color: grey;
}

.btn.btn-outline-success {
    padding: 10px 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

h1.productTitle {
    font-weight: bold;
    font-size: 25px;
}

p.description {
    color: grey;
    padding-left: 10px;
    margin-top: -10px;
    font-size: 14px;
}

p.price {
    font-size: 18px;
    font-weight: 700;
    margin-left: 10px;
}

p.format {
    margin-top: -20px;
    margin-left: 10px;
}

div.divider { 
    background-color: cornflowerblue;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center ;
}

p.divider-text {
    color: grey;
   
}
.btn.btn-info {
    width: 100%;
    margin: 15px;
    font-size: small;
}
.btn.btn-outline-success {
    width: 100%;
    margin: 15px;
    font-size: small;
}
.categoiria-img-left {
    height: 40vh;


}
.categoria-img-left {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: white;
    border: 1px solid grey;
    border-radius: 8px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 30px;
}
.cat-img {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.categoria-img-left img {
    animation-duration: 3s;
    animation-name: slidein;
    -webkit-box-shadow: 3px 3px 15px 5px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: 3px 3px 15px 5px rgba(0, 0, 0, 0.58);
    box-shadow: 3px 3px 15px 5px rgba(0, 0, 0, 0.58);
    border-radius: 8px;
    width: 220px;
    margin-bottom: 50px;
}

.title-cat{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
#link{
    color: black;
    text-decoration: none;
  }

@keyframes slidein {
    from {
      margin-left: 50%;
      width: 400px;
      -webkit-box-shadow: 3px 3px 60px 5px rgba(0, 0, 0, 0.58);
      -moz-box-shadow: 3px 3px 60px 5px rgba(0, 0, 0, 0.58);
      box-shadow: 3px 3px 60px 5px rgba(0, 0, 0, 0.58);

    }
  
    to {
      margin-left: 0%;
      width: 220px;
      -webkit-box-shadow: 3px 3px 15px 5px rgba(0, 0, 0, 0.58);
      -moz-box-shadow: 3px 3px 15px 5px rgba(0, 0, 0, 0.58);
      box-shadow: 3px 3px 15px 5px rgba(0, 0, 0, 0.58);
    }
  }
  iframe{
      margin-top: 5%;
      margin-bottom: 5%;
  }

  @media (max-width: 767px) {
    main {
        display: none;
        padding-left: 10%;
        padding-top: 10%;
        padding-bottom: 10%;
    }
  } 